*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  height: 200px;
  display: block;
  margin: 0 auto;
}

body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header{
  margin-top: 50px;
}

img:hover{
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: disco;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: disco;
}

@-webkit-keyframes disco {
  0%    { -webkit-filter: drop-shadow(0 0 20px rgba(255,153,153,1)); }
  25%  { -webkit-filter: drop-shadow(0 0 20px rgba(244,241,66,1)); }
  50%  { -webkit-filter: drop-shadow(0 0 20px rgba(0,153,255,1)); }
  75%  { -webkit-filter: drop-shadow(0 0 20px rgba(244,66,232,1)); }
  100%    { -webkit-filter: drop-shadow(0 0 20px rgba(255,153,153,1)); }
}

.container{
  width: 80%;
  margin: 0 auto;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.subtitle{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}

.text{
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.how{
  margin-top: 100px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

  .why{
  margin-top: 100px;
  background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
}

.why img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

.why [class^="col-"]{
  margin-top: 60px;
}

@media screen and (min-width:768px) and (max-width:992px){
  img{
    height: 100px;
  }

  .how, .why{
    margin-top: 50px;
  }

  .why img{
    padding: 15px;
  }

  .why [class^="col-"]{
    margin-top: 30px;
  }

  .row-md::after{
    content: '';
    display: table;
    clear: both;
  }

  .how .row>.col-md-6{
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width:768px){
  img{
    height: 100px;
  }

  .how, .why{
    margin-top: 50px;
  }

  .why img{
    padding: 15px;
  }

  .why [class^="col-"]{
    margin-top: 30px;
  }
}
